<table id="users" class="table table-borderless m-3">
    <thead>
    <tr class="border-top">
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Username</th>
        <th scope="col">E-mail</th>
        <th scope="col">Roles</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr class="border-top bg-light" th:each="user, rowStat : ${users}"-->
<!--        th:classappend="${rowStat.count % 2 != 0 ? 'table-secondary' : 'table-light'}">-->
<!--        <td th:text="${user.id}"/>-->
<!--        <td th:text="${user.firstname}"/>-->
<!--        <td th:text="${user.lastname}"/>-->

<!--        <td th:text="${user.email}"/>-->
<!--        <td>-->
<!--            <th:block th:each="role : ${user.getRoles()}">-->
<!--                &nbsp;<span th:text="${role.name}"/>-->
<!--            </th:block>-->
<!--        </td>-->
<!--        <td>-->
<!--            <<a th:href="@{/{id}/profile(id=${user.id}, action='edit')}"-->
<!--            class="btn btn-sm btn-info edit-button" id="open-modal-btn-edit">Edit</a>-->
<!--        </td>-->
<!--        <td>-->
<!--            <a th:href="@{/{id}/profile(id=${user.id}, action='delete')}"-->
<!--               class="btn btn-sm btn-danger delete-button" id="open-modal-btn-delete">Delete</a>-->
<!--        </td>-->
<!--    </tr>-->
    </tbody>
</table>
