<head>
    <!--    <link href="/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--    <title>Delete or edit user</title>-->

</head>
<style>
    .modal-content {
        width: 500px;
        height: 800px;
        background-color: #ffffff;
    }

    .modal-body label, .form-group label {
        margin-top: 12px;
        margin-bottom: 4px;
        font-weight: bold;
    }

    .modal-overlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }

    .modal-overlay.close {
        display: none;
    }
</style>
<div id="my-modal" data-modal-window="myModal" class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <th:block th:if="${action == 'edit'}">
                <h3 id="modal-head" class="modal-title">Edit user</h3>
            </th:block>
            <th:block th:if="${action == 'delete'}">
                <h3 id="modal-head2" class="modal-title">Delete user</h3>
            </th:block>
            <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form role="form" id="userprofile-form" th:object="${user}">
            <div class="modal-body">
                <div class="container col-6 text-center">
                    <div class="form-group text-center">
                        <!--                        <input id="method" type="hidden" name="_method" value="post">-->
                        <div>
                            <label for="id">ID</label>
                            <input type="text" class="form-control" th:field="*{id}" id="id" readonly>
                        </div>
                        <div>
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control"
                                   th:field="*{firstname}" id="firstName">

                        </div>
                        <div>
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" th:field="*{lastname}" id="lastName">
                        </div>

                        <div>
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control"
                                   th:field="*{email}" id="email" autocomplete="username">

                        </div>
                        <div id="username-div">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" th:field="*{username}"
                                   autocomplete="current-username">
                        </div>
                        <div id="password-div">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   autocomplete="current-password">
                        </div>
                        <div>
                            <label for="roles-select">Role</label>
                            <select multiple class="form-control" id="roles-select" name="roles">
                                <option th:each="role : ${allRoles}"
                                        th:text="${role.name}"
                                        th:value="${role.name}">

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="close-footer" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <th:block th:if="${action == 'edit'}">
                    <!-- Если параметр 'action' присутствует, выводим кнопку типа button -->
                    <button id="save" type="button" onclick="saveUser()" class="btn bg-primary">Save</button>
                </th:block>

                <th:block th:if="${action == 'delete'}">
                    <button id="delete-btn" type="button" onclick="deleteUser()" class="btn btn-danger">Delete
                    </button>
                </th:block>
            </div>
        </form>
    </div>
    <script src="/js/app.js">


    </script>
</div>