<!DOCTYPE html>
<html lang="en" xml:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<a th:href="@{/user-create}" class="btn btn-primary btn-sm mb-3"> Add User </a>

<table border="1">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.firstname}">Firstname</td>
        <td th:utext="${user.lastname}">Lastname</td>
        <td th:utext="${user.email}">Email</td>
        <td><a th:href="@{/user-update/{id}(id=${user.id})}" class="btn btn-primary">Update</a></td>
        <td><a th:href="@{/user-delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a></td>
    </tr>

</table>
</body>
</html>